.slideUp-enter {
  opacity: 0;
  transform: translateY(40px);
}
.slideUp-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}
.slideUp-exit {
  opacity: 1;
  transform: translateY(0);
}
.slideUp-exit-active {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1000ms, transform 1000ms;
} 

.slideDown-enter {
  opacity: 0;
  transform: translateY(-40px);
}
.slideDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms, box-shadow 1000ms;
}
.slideDown-exit {
  opacity: 1;
  transform: translateY(0);
}
.slideDown-exit-active {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 1000ms, transform 1000ms, box-shadow 1000ms;
} 