.fade-enter {
  opacity: 0;
  transform: translateY(40px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1000ms, transform 1000ms;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1000ms, transform 1000ms;
} 